@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="d-flex flex-column">
    <a class="btn border m-2" asp-action="Index" asp-controller="Employees">Employees</a>
    <a class="btn border m-2" asp-action="Index" asp-controller="StampMaintenances">StampMaintenances</a>
    <a class="btn border m-2" asp-action="Index" asp-controller="StampMakers">StampMakers</a>
    <a class="btn border m-2" asp-action="Index" asp-controller="StampOutputs">StampOutputs</a>
    <a class="btn border m-2" asp-action="Index" asp-controller="StampResults">StampResults</a>
</div>
